.header > h1 {
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100px;
  text-align: center;
  color: #f0e5e5; }

.todo-container {
  width: 560px;
  min-height: 400px;
  border: 1px solid #666;
  margin: 0 auto;
  clear: both;
  background: #fff; }

.todo-list-item {
  border-bottom: 1px solid gray;
  clear: both;
  min-height: 64px;
  vertical-align: middle; }

.todo-list-item-button {
  float: left;
  overflow: auto;
  display: inline-block; }

.todo-list-item-button > input {
  margin: 12px;
  width: 35px;
  height: 35px;
  margin: 10px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #666;
  border-radius: 100px; }

.todo-list-item-button > input:checked {
  background: url(../components/icons/completed.png) no-repeat;
  background-position: center;
  appearance: none;
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  border: 1px solid #5dc2af;
  border-radius: 100px; }

.todo-list-item-delete {
  float: right;
  overflow: auto;
  display: inline-block; }

.todo-list-item-delete > button {
  background: url(../components/icons/close.png) no-repeat;
  background-position: center;
  margin: 12px;
  width: 18px;
  height: 18px;
  border: none; }

.todo-list-item-text {
  overflow: auto;
  display: block; }

.todo-list-item-text > textarea {
  outline: none;
  resize: none;
  border: none;
  overflow: hidden;
  padding: 0;
  width: 100%;
  font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
  font-size: 24px; }

.todo-list-item.__ready .todo-list-item-text > textarea {
  text-decoration: line-through; }

.todo-list:before, .todo-list:after {
  content: '';
  display: table; }

.todo-list:after {
  clear: both; }

.todo-footer {
  margin: 12px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 15px; }

.todos-left {
  float: left;
  display: inline-block;
  background: none; }

.todo-groups {
  overflow: hidden;
  display: inline-block; }

.todo-group {
  border: none;
  background: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 14px; }

.todo-group.__active {
  border: solid 1px #ebdfdf; }

.todo-clearcompleted-button {
  float: right;
  display: inline-block;
  border: none;
  background: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 14px; }

.todo-header {
  border-bottom: 1px solid gray;
  height: 64px;
  clear: both; }

.todo-checkall-button {
  float: left;
  margin: auto 12px;
  height: 100%;
  width: 35px;
  text-align: center; }

.todo-checkall-button > button {
  background: url(../components/icons/select-all.png) no-repeat;
  background-position: center;
  width: 24px;
  height: 100%;
  border: none; }

.todo-newtodo-input {
  overflow: auto;
  height: 100%; }

.todo-newtodo-input > input {
  font-style: italic;
  font-size: 18px;
  border: none;
  width: 100%;
  padding: 0;
  height: 100%; }

body {
  background-color: #f5f5f5; }

/*# sourceMappingURL=style.css.map */
