.header {
    font-family: arial;
    text-transform: uppercase;
    text-align: center;
}

.todo-header {
    align-content: center;
}

.todo-container {
	width: 560px;
    margin: 0 auto;
}

.todo-list-item-button {
    width: 50px;
    float: left;
}

.todo-list-item-delete {
    width: 50px;
    float: right;
}

.todo-list-item-text {
    overflow: hidden;
    margin: 0 auto;
}


.todo-footer {
	width: 560px;
    margin: 0 auto;
}

.todos-left {
    float: left;
}

.todo-groups {
    overflow: hidden;
    text-align: center;
}

.todo-clearcompleted-button {
    float: right;
}