.todo-header {
    border-bottom: 1px solid gray;
    height: 64px;
    clear: both;
 
}

.todo-checkall-button {
    float: left;   
    margin: auto 10px;
    height: 100%;
    width: 35px;
    text-align: center;

}


    .todo-checkall-button > button {
        background: url(../../../../components/icons/select-all.png) no-repeat;
        background-position: center;
        width: 24px;
        height: 100%;
        border: none;
    }


.todo-newtodo-input {
    overflow: auto; 
    height: 100%;    
}

    .todo-newtodo-input > input {
        font-style: italic;
        font-size: 14pt;
        border: none;
        width: 100%;
        height: 90%;
    }



